<!DOCTYPE html>
<html>
  <head>
    <title>ENTR451: User Security</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <p>
      
      <% if @currentuser != nil %>
      Hey, <%= @currentuser["first_name"] %>
      |
      <a href="/logout">Log out</a>
      <% else %>
      <a href="/sessions/new">Log in</a>
      |
      <a href="/users/new">Sign Up</a>
    <% end %>
    </p>

    <p>
      <%= flash["notice"] %>
    </p>

    <%= yield %>
  </body>
</html>
